<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdA6GrqnuUQbF-x-VJ1KCWYxH95HiR01M</string>
	<key>GCM_SENDER_ID</key>
	<string>175007827848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.Fridge-Share</string>
	<key>PROJECT_ID</key>
	<string>frigeandshare</string>
	<key>STORAGE_BUCKET</key>
	<string>frigeandshare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175007827848:ios:e31c35cdf2711e19785c3d</string>
</dict>
</plist>